@import 'vars.less';

// global

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	background-color: #333; // background of browser
	text-align: center;
	/*font: 400 100%/160% ff-enzo-web, sans-serif;*/
	font: 300 100%/160% Rokkitt, sans-serif;
	color: @text;
}
canvas {
	width: 100%;
	position: relative;
	z-index: 0;
}
section {
	padding: 100px 0;
}
a {
	color: #3399ee;
	text-decoration: none;
	&:hover {
		color: @text;
	}
}

// typography

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}
h2 {
	font-size: 200%;
}
h4 {
	font-size: 240%;
	line-height: 120%;
}
h6 {
	width: 90%;
	margin: 0 auto;
	line-height: 160%;
}

// html inputs

input,
textarea {
	width: 100%;
	outline: none;
	padding: 12px 16px;
	border: 0;
	font-size: 110%;
	-webkit-border-radius: 0;
	.transition(box-shadow 0.1s cubic-bezier(0, -1, 0, 2));
	&:focus {
		box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.14);
	}
}
textarea {
	height: 200px;
	resize: vertical;
	-webkit-border-radius: 0;
}
button {
	border: 0;
	outline: none;
	-webkit-border-radius: 0;
}

// utility classes

.left {
	float: left;
}
.right {
	float: right;
}
.hidden {
	display: none;
	visibility: hidden;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.container {
	margin: 0 auto;
}

// ui elements

i,
.btn {
	display: inline-block;
}
.btn {
	border-radius: @radius-button;
}

// button status

.btn-status {
    background: rgba(0, 0, 0, 0.4);
    height: 38px;
    padding: 12px 100px;
    margin: 30px 0;
    color: #fff;
    position: relative;
    .transition(background-color 0.1s linear);
    .btn-text {
    	width: 50%;
		position: absolute;
		top: 31%;
		left: 25%;
		.transition(all .1s ease-out);
    }
    &.loading { // loading state
    	background-color: rgba(0, 0, 0, 0.6);
    	pointer-events: none;
		.btn-text {
			opacity: 0;
			.transform(translate3d(0, -20px, 0));
		}
		.status-animation {
			opacity: 1;
			i {
				content: ' ';
				background-color: #fff;
				width: 8px;
				height: 8px;
				border-radius: 10px;
				opacity: 0;
				&:nth-child(1) {
					.animation(status 0.6s 0.14s linear infinite alternate);
				}
				&:nth-child(2) {
					.animation(status 0.6s 0.24s linear infinite alternate);
				}
				&:nth-child(3) {
					.animation(status 0.6s 0.34s linear infinite alternate);
				}
			}
		}
    }
    .status-animation { // status dots
		width: 50%;
		display: block;
		position: absolute;
		top: 33%;
		left: 25%;
		opacity: 0;
		.transition(all .1s ease-out);
	}
}

// button status animation

@-webkit-keyframes status { .status-animation }
@-moz-keyframes status { .status-animation }
@-ms-keyframes status { .status-animation }
@-o-keyframes status { .status-animation }
@keyframes status { .status-animation }