@import 'vars.less';

.intro {
	// main
	height: 700px;
	color: #fff;
	-webkit-user-select: none;
	h1 {
		font-size: 360%;
		line-height: 130%;
	}
	// navigation button
	.btn-projects {
		width: 500px;
		font-size: 60%;
		color: #fff;
		position: absolute;
		z-index: 9;
		top: 420px;
		left: 50%;
		display: block;
		margin-left: -250px;
		.btn-text {
			position: relative;
			left: 0;
			text-transform: uppercase;
			font-size: 80%;
			letter-spacing: 2px;
			border: 1px solid transparent;
			padding: 14px 50px;
			opacity: 0.5;
			.transition(all 0.2s ease-out);
		}
		&:hover .btn-text {
			background-color: rgba(255, 255, 255, 0.06);
			opacity: 1;
			border-color: rgba(255, 255, 255, 0.1);
		}
		i {
			display: block;
			margin-top: 20px;
			color: rgba(255, 255, 255, 0.1);
			.transition(all 0.2s cubic-bezier(0, -1, 0, 1) 0.08s);
			.transform(scale(0.7) rotate(90deg) translate3d(-10px, 0, 0));
		}
		&:hover i {
			color: #AFF6E0;
			.transform(rotate(90deg) translate3d(20px, 0, 0));
		}
	}
	// destroyer
	.destroyer {
		height: 700px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		cursor: pointer;
	}
	// restart button
	.btn-restart {
		background-color: transparent;
		width: 160px;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -80px;
		padding: 10px 20px;
		color: #fff;
		font-size: 70%;
		letter-spacing: 2px;
		text-transform: uppercase;
		opacity: 0;
		&.active {
			opacity: 0.2;
			&:hover {
				background-color: rgba(0, 0, 0, 0.1);
				color: @bg-projects;
				opacity: 1;
			}
		}
		.score {
			font: 90% monospace;
			display: block;
			color: #fff !important;
			margin-top: 6px;
		}
	}

}