@import 'vars.less';

.projects {
    text-align: left;
}
.project {
}
.project-image {
    background: #0ae;
    height: 500px;
}
.project-text {
    padding: 60px 0 0 0;
    cursor: default;
}
.project-text:nth-child(odd) {
    padding-left: 0;
    padding-right: 40px;
}
.project-header {
    margin-bottom: 30px;
}
.project-title {
    font-size: 190%;
}
.project-labels {
    list-style: none;
    line-height: 20px;
    padding: 0;
    margin-top: 6px;
}
.project-labels .label {
	background: #ccc;
    padding: 0 10px;
    display: inline-block;
    font-size: 70%;
    text-transform: uppercase;
    margin-right: 6px;
    color: #fff;
    border-radius: 2px;
}
.project-details {
    font-size: 90%;
}