@import 'vars.less';

/* S */
@media (max-width: @screen-sm) {
	body {

		// global

		.section-header {
			text-align: center;
		}
		.btn {
			width: 93%;
		}

		// projects

		.project-text {
			padding: 0;
			text-align: center;
		}

		// contact

		.error-message {
			z-index: 1;
		}
		.social a {
			width: 100%;
			&:hover {
				.transform(none);
			}
		}
	}
}

/* M */
@media (min-width: @screen-sm) {
	body {
		.error-message {
			z-index: 1;
		}
	}
}

/* L */
@media (min-width: @screen-md) {
	.contact-form .row:nth-child(2) {
		margin-bottom: 40px;
	}
}

/* XL */
@media (min-width: @screen-lg-min) {

}